 <footer class="mt-5 py-3" style="background:#111; color:#fff; border-top:3px solid #ff6600; text-align:center;">
  <div class="container">
    <div class="mb-2" style="color:#ff6600; font-weight:600;">Empowering Canteen Ticketing</div>
    <div class="mb-2" style="color:#ff6600; font-weight:600;">
      <!--SOCIAL MEDIA LINKS AND CONTACTS-->
    <!-- <div class="social-icons">
      <a href="http://facebook.com" target="_blank"><img src="../assets/images/fac.JPG" alt="facebook" style="width: 30px;"></a>
      <a href="http://instagram.com" target="_blank"><img src="../assets/images/int.JPG" alt="instagram" style="width: 30px;"></a>
      <a href="http://tiktok.com" target="_blank"><img src="../assets/images/tik.JPG" alt="tiktok" style="width: 30px;"></a>
      <a href="http://twitter.com" target="_blank"><img src="../assets/images/twi.JPG" alt="twitter" style="width: 30px;"></a>
    </div> -->
    </div>
    <small>
      &copy; <span id="footerYear"></span> PresChop. All rights reserved.<br>
      <a href="mailto:support@presschop.com" style="color:#ff6600; text-decoration:underline;">Contact: support@presschop.com</a>
      &nbsp;|&nbsp;
      <a href="#" style="color:#ff6600;">Privacy Policy</a>
      &nbsp;|&nbsp;
      <a href="#" style="color:#ff6600;">Terms of Service</a>
      <br>
      Limbe, Cameroon
    </small>
  </div>
</footer>
<script>
  document.getElementById('footerYear').textContent = new Date().getFullYear();
</script> 